# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. plotly
3. ggplot2
4. dplyr

|Data Science Tools|
|------------------|
|RStudio|
|GitHub|
|VSCode|
|jupyter notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

*This is simple arithmetic expression to multiply then add integers*

In [11]:
(3*4)+5

17

*This will convert 200 minutes to hours by dividing by 60*

In [22]:
minutes = float(input("Minutes: ")) /60
print(f"Hours: {minutes}")

Minutes:  200

Hours: 3.3333333333333335

**Objectives:**

- types of platforms such as RStudio, Jupyter Notebook, GitHub
- basic setup of these platforms
- introduction to R and Python coding

## Author
Rebecca Kimble